*.gem
*.rbc
.bundle
.config
.yardoc
Gemfile.lock
InstalledFiles
_yardoc
coverage
doc/
lib/bundler/man
pkg
rdoc
spec/reports
test/tmp
test/version_tmp
tmp
*.bundle
*.so
*.o
*.a
mkmf.log

# ignore swap files
*.swp
*.swo
bin/rspec
bin/bundler
bin/coderay
bin/thor
bin/htmldiff
bin/ldiff
bin/pry
bin/rake
bin/safe_yaml